@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

header nav .navbar {
  display: flex;
  gap: 30px;
}

header nav .open-navbar,
header nav .close-navbar {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

header nav h1 {
  /* margin-right: auto; */
  border-bottom: 3px solid var(--primary);
}

header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

header nav a.active {
  background-color: #bc4123;
}

/* page content */

main {
  max-width: 1200px;
  margin: 40px auto;
}

/* help layout */

.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}

.help-layout nav a {
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}
.help-layout nav a:hover {
  border-color: var(--primary);
}

.help-layout nav a.active {
  background-color: var(--primary);
}

/* faq */

.faq .question {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */

form {
  margin-top: 30px;
}
form input,
form label span,
form textarea {
  display: block;
}
form input,
form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--secondary);
}
form label span {
  margin-bottom: 10px;
}

/* Not found */

.not-found {
  text-align: center;
}

.not-found .link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.not-found .link-container a {
  text-decoration: none;
  color: var(--primary);
}

/* careers list */

.careers > a {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}
.careers > a:hover p {
  color: var(--primary);
}
.careers p {
  margin: 0;
}
.careers > a p:last-child {
  font-size: 0.8em;
  color: #bbb;
}

/* careers details */

.career-details {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* breadcrumbs */

.breadcrumbs {
  max-width: 1200px;
  margin: 20px auto;
}

.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}

.breadcrumbs .crumb:after {
  content: ">";
  margin-left: 10px;
}

.breadcrumbs .crumb:last-child:after {
  display: none;
}

.breadcrumbs .crumb a {
  color: #ddd;
  text-decoration: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: black;
  opacity: 0.3;
}

/* Responsive */

@media (max-width: 768px) {
  header nav .navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    background-color: rgb(0, 0, 0);
    z-index: 2000;
    transform: translateX(100%);
    transition: all 300ms ease-in;
  }

  header nav .open-navbar {
    display: block;
  }

  header nav .close-navbar {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
}

.active-navbar {
  transform: translateX(0) !important;
}

@media (min-width: 768px) {
  .overlay {
    display: none;
  }
}
